name: JFrog CI

on:
  push:
    branches: [ main ]
    
# Set env. variables
env:
  IMAGE_NAME: petclinic
  IMAGE_TAG: ${{ github.run_number }}
  DOCKER_REPO: ${{ secrets.JF_URL }}/petclinic-docker-local

jobs:
  build-and-publish:
    runs-on: ubuntu-latest

    steps:
      # 1. Checkout source
      - name: Checkout source
        uses: actions/checkout@v4

      # 2. Set up JDK
      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'

      # 3. Cache Maven packages
      - name: Cache Maven packages
        uses: actions/cache@v4
        with:
          path: |
            ~/.m2/repository
          key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
          restore-keys: |
            ${{ runner.os }}-maven-

      # 4. Compile, Test and Packing
      - name: Build with Maven Wrapper
        run: ./mvnw -B verify