name: JFrog CI

on:
  push:
    branches: [ main ]
    
# Set env. variables
env:
  IMAGE_NAME: petclinic
  IMAGE_TAG: ${{ github.run_number }}
  DOCKER_REPO: ${{ secrets.JF_URL }}/petclinic-docker-local

jobs:
  build-and-publish:
    runs-on: ubuntu-latest

    steps:
      # 1. Checkout source
      - name: Checkout source
        uses: actions/checkout@v4

      # 2. Set up JDK
      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'
